layout python3
source_up
export PATH="$(pwd):${PATH}"
export GITHUB_USER=antimike
export GITHUB_TOKEN="$(pass show professional/github/tokens/zbook | head -1)"
export GH_TOKEN="$GITHUB_TOKEN"
export IPYTHONDIR="$(pwd)/.ipython"
